/* Profile Page */
.profile-row:not(:last-of-type) {
    box-sizing: content-box;
    height: 50px;
    line-height: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.profile-row:last-of-type {
    box-sizing: content-box;
    height: 50px;
    line-height: 50px;
}

/* Star Icon */
.bi-star-fill {
    color: #f7c942;
}


.card-hover:hover {
    background-color: lightgray; /* Change this to the color you prefer */
    cursor: pointer; /* Change cursor to a pointer to indicate interactivity */
  }
  
.text-overlay {
    position: absolute;
    top: 45%; /* Adjust the top value to center vertically */
    left: 10%; /* Adjust the left value to center horizontally */
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.7); Add a semi-transparent background */
    color: #fff; /* Text color */
    padding: 5px 10px; /* Padding for the text */
    font-size: 40px; 
    font-weight: bold;
}
