.instructions {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.reserved {
  background-color: rgb(238, 181, 181);
  /* Add styling for reserved tables */
}

.two {
  background-color: rgb(195, 179, 210);
  /* Color for Table for 2 */
}

.four {
  background-color: rgb(206, 235, 239);
  /* Color for Table for 4 */
}

/* Legend styles */
.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-top: 1rem;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.restaurant-tables {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5cm;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 5%);
  gap: 0.2cm;
  margin-left: auto;
}

.table {
  width: 60%;
  height: 1cm;
  border-radius: 50%;
  cursor: pointer; /* Ensure the cursor changes to a pointer on hover */
  user-select: none; /* Disable text selection on the tables */
}

/* Add hover effect for better visual feedback */
.table:hover {
  opacity: 0.8;
}

.reserved {
  background-color: rgb(238, 205, 205);
  /* Add styling for reserved tables */
}

.table-for-2 {
  background-color: rgb(195, 179, 210);
  /* Color for Table for 2 */
  border-radius: 50%; /* Make the tables circular */
}

.table-for-4 {
  background-color: rgb(206, 235, 239);
  /* Color for Table for 4 */
  border-radius: 50%; /* Make the tables circular */
}

.row {
  display: flex;
  justify-content: center;
  gap: 0.2cm;
}

.button {
  display: block;
  margin: 5px;
}
